@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
  margin: 0;
  padding: 0;
  background: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 70vh;
  color: white;
  width: 500px;
  margin: 100px auto;
  background-color: #00233d;
  border-radius: 20px;
  box-shadow: 5px 10px 0px #002b4d ;
  opacity: 0.8;

}
.github{
  display: flex;
  align-items: center;
  gap: 1rem;
}
form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: white;
}
h1{
  color: #ddd;
}
.logo{
  height: 50px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 8px;
}
button {
  background-color: #0366d6;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #035fd6;
}
.card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.card h2 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

.card p {
  margin: 8px 0;
}

.card a {
  color: #0366d6;
}